
body
  font-family: sans-serif
  margin: 0px
  background: #f7f8f9

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0


.clearfix
  display: inline-block

/* start commented backslash hack \*/

* html .clearfix
  height: 1%

.clearfix
  display: block


.container
  margin: 0 auto
  max-width: 940px
  text-align: center

.label
  // float: left
  // width: 10%
  text-align: left

input
  width: 100%
  display: inline
  // background: inherit
  text-align: center
  font-style: italic
  font-size: 16px
  font-weight: bold


.count-form
  padding-top: 50px

table
  margin: 0px auto 50px auto
  width: 50%
  +r(600)
    width: 100%


table, th, td
  border: 1px solid black
  vertical-align: middle
  padding: 1px
  font-weight: bold
  font-style: italic
  font-size: 16px

.verbs td
  +r(530)
    font-size: 12px

table tr:nth-child(odd)
  background: #f1f9ff

table tr:nth-child(even)
  background: #E5E5E5s
