
body
  font-family: sans-serif
  margin: 0px
  background: #f7f8f9

.clearfix:after
  visibility: hidden
  display: block
  font-size: 0
  content: " "
  clear: both
  height: 0


.clearfix
  display: inline-block

/* start commented backslash hack \*/

* html .clearfix
  height: 1%

.clearfix
  display: block


.container
  margin: 0 auto
  max-width: 940px
  text-align: center

.label
  // float: left
  // width: 10%
  text-align: left

input
  width: 100%
  display: inline
  background: inherit
  text-align: center
  font-style: italic
  font-size: 16px
  font-weight: bold
  +r(600)
    font-size: 12px

.second-table
  width: 70px

.person-color
    background: #cfffcf

.general-color
    background: #ffffb3

// .count-form
//   padding-top: 50px

table, th, td
  border: 1px solid black
  vertical-align: middle
  padding: 1px
  font-weight: bold
  font-style: italic


table
  margin: 30px auto 30px auto
  width: 50%
  +r(600)
    width: 98%
    font-size: 12px



#edi
  background: yellow

.form__btn
  display: inline-block
  border-radius: 10px
  border: 2px solid green
  background: #fff
  text-decoration: none
  padding: 10px 40px 10px 40px
  font-weight: bold
  border-radius: 30px
  border: 2px solid #ff7f28
  margin: 10px
  &:hover
    background: #ff7f28
    color: white
    border: 2px solid #fff
    cursor: pointer




